// === Catppuccin Mocha Palette ===
$rosewater: #f5e0dc;
$flamingo:  #f2cdcd;
$pink:      #f5c2e7;
$mauve:     #cba6f7;
$red:       #f38ba8;
$maroon:    #eba0ac;
$peach:     #fab387;
$yellow:    #f9e2af;
$green:     #a6e3a1;
$teal:      #94e2d5;
$sky:       #89dceb;
$sapphire:  #74c7ec;
$blue:      #89b4fa;
$lavender:  #b4befe;

$text:      #cdd6f4;
$subtext1:  #bac2de;
$subtext0:  #a6adc8;
$overlay2:  #9399b2;
$overlay1:  #7f849c;
$overlay0:  #6c7086;

$surface2:  #585b70;
$surface1:  #45475a;
$surface0:  #313244;

$base:      #1e1e2e;
$mantle:    #181825;
$crust:     #11111b;


@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

* { all: unset; animation: fade-in 1s ease-out;}

.clock-box {
  font-family: "Firacode Nerd Font", monospace;
}


.time {
  font-size: 6em;
  font-weight: bold;
  color: $maroon;
}
.day {
  font-size: 2em;
  margin-left: 10px;
  font-weight: bold;
  color: $mauve;
}
.date {
  font-size: 2em;
  font-weight: bold;
  color: $mauve;
}


.spotify-title{
  font-size: 1.5em;
  font-weight: bold;
  color: $maroon;
  margin-top: 10px;
}

.spotify-artist {
  font-size: 1.2em;
  font-weight: bold;
  color: $mauve;
  margin-bottom: 10px;
}


.spotify-art {
  min-height: 100px;
  min-width: 100px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 0 0 8px rgba($surface0, 0.0);
}

