@import url('../colors/theme.css');

* {
    outline: none;
    font-family: "CaskaydiaCove Nerd Font";
    font-size: 21px;
    text-shadow: none;
    color: @fg-main;
    background-color: transparent;
    background: transparent;
}

.control-center {
    background-color: alpha(@bg-base, 0.8);
    border: 3px solid @border-color;
    padding: 7px;
}
/* For Webkit-based browsers (used by SwayNC) */
.notification-list-container::-webkit-scrollbar {
    width: 0px; /* Hide the scrollbar */
}

/* Also for Firefox, though not necessary for SwayNC */
.notification-list-container {
    scrollbar-width: none; /* Hide the scrollbar for Firefox */
}

.control-center .notification-row .notification-background {
    border-radius: 15px;
    margin-top: 5px;
}

.notification {
    background-color: @bg-base;
    border: 2px solid @border-color;
}

.notification > *:last-child > * {
    margin: 5px;
}

.summary { font-size: 1rem; }
.time    { font-size: 0.8rem; }
.body    { font-size: 1rem; }

.notification-content {
    padding: 15px 10px 10px 20px;
}

.notification-action > button,
.notification-action > label {
    padding: unset;
    margin: unset;
    font-size: 1rem;
    font-weight: normal;
}

.notification.critical {
    background-color: alpha(@danger-color, 0.5);
}
.notification.low,
.notification.normal {
    background-color: alpha(@bg-surface, 0.5);
}

.close-button {
    background-color: alpha(@accent-primary, 0.8);
    box-shadow: 0 0 3px 0 @shadow-color;
}
.close-button:hover {
    background-color: alpha(@accent-hover, 0.8);
}

.notification-group-header,
.notification-group-icon {
    font-size: 0.9rem;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
    background-color: @accent-primary;
}
.notification-group-collapse-button:hover {
    background-color: alpha(@accent-hover, 0.8);
}
.notification-group-close-all-button:hover {
    background-color: alpha(@accent-active, 0.8);
}

scale trough {
    margin: 0rem 1rem;
    background-color: @accent-primary;
    min-height: 4px;
    min-width: 70px;
}

trough slider {
    background: @accent-active;
}
trough slider:hover {
    background: @accent-hover;
}
trough highlight {
    background: @accent-hover;
}

tooltip {
    background-color: @accent-primary;
}

/*** Widgets ***/
.widget-buttons-grid {
    background: @bg-base;
    font-size: 2rem;
    padding: 10px 10px 10px;
}
.widget-buttons-grid > flowbox > flowboxchild > button {
    background: @accent-primary;
    box-shadow: 0px 0px 10px alpha(@bg-overlay, 0.8);
    border-radius: 12px;
    min-width: 60px;
    min-height: 30px;
    padding: 6px;
    margin: 0 3px 0;
    transition: all .5s ease;
}
.widget-buttons-grid > flowbox > flowboxchild > button:hover {
    background: @accent-hover;
}
.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked {
    background: @accent-active;
}
.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked:hover {
    background: alpha(@accent-hover, 0.8);
}

/* MPRIS widget */
@define-color mpris-album-art-overlay @bg-base;

.widget-mpris .widget-mpris-player {
    padding: 16px;
    margin: 16px 20px;
    background-color: @mpris-album-art-overlay;
    border-radius: 12px;
    box-shadow: 0px 0px 10px @shadow-color;
}
.widget-mpris .widget-mpris-player .widget-mpris-album-art {
    border-radius: 12px;
    box-shadow: 0px 0px 10px @shadow-color;
}
.widget-mpris .widget-mpris-player .widget-mpris-title {
    font-weight: bold;
    font-size: 1.1rem;
    margin: 0px 8px 8px 8px;
}
.widget-mpris .widget-mpris-player .widget-mpris-subtitle {
    font-size: 1rem;
}
.widget-mpris > box > button:hover {
    background: alpha(@accent-hover, 0.6);
}

/* Volume widget */
.widget-volume {
    padding: 6px 5px 5px 5px;
    margin: unset;
    font-size: 1rem;
}
.widget-volume > box > button {
    border: none;
}
.per-app-volume {
    padding: 4px 8px 8px 8px;
    margin: 0px 8px 8px 8px;
}

/* Backlight widget */
.widget-backlight {
    padding: 0 0 3px 16px;
    margin: unset;
    font-size: 1rem;
}

/* DND widget */
.widget-dnd {
    font-weight: bold;
    padding: 20px 15px 15px;
    font-size: 1rem;
}
.widget-dnd > switch {
    border-radius: 100px;
    background: @accent-primary;
    border: none;
    box-shadow: none;
    padding: 3px;
}
.widget-dnd > switch:checked {
    background: @accent-active;
}
.widget-dnd > switch slider {
    background: @bg-base;
    border-radius: 12px;
    min-width: 18px;
    min-height: 18px;
}

/* Title widget */
.widget-title {
    font-weight: bold;
    padding: 15px;
}
.widget-title > label {
    font-size: 1.1rem;
}
.widget-title > button {
    background: @accent-primary;
    border: none;
    border-radius: 100px;
    padding: 0px 8px;
    transition: all .7s ease;
}
.widget-title > button:hover {
    background: alpha(@accent-active, 0.8);
    box-shadow: 0 0 10px 0 @shadow-color;
}

