@define-color bg-base         #{{colors.surface.default.hex_stripped}};
@define-color bg-surface      #{{colors.surface_container.default.hex_stripped}};
@define-color bg-overlay      #{{colors.surface_container_high.default.hex_stripped}};
@define-color fg-main         #{{colors.on_surface.default.hex_stripped}};
@define-color fg-muted        #{{colors.on_surface_variant.default.hex_stripped}};
@define-color fg-strong       #{{colors.primary.default.hex_stripped}};
@define-color accent-primary  #{{colors.primary.default.hex_stripped}};
@define-color accent-hover    #{{colors.secondary.default.hex_stripped}};
@define-color accent-active   #{{colors.tertiary.default.hex_stripped}};
@define-color border-color    #{{colors.outline.default.hex_stripped}};
@define-color shadow-color    {{colors.shadow.default.rgba}};
@define-color danger-color    #{{colors.error.default.hex_stripped}};
@define-color warning-color   #{{colors.tertiary.default.hex_stripped}};
@define-color info-color      #{{colors.secondary.default.hex_stripped}};
@define-color success-color   #{{colors.primary.default.hex_stripped}};

