// Gruvbox Dark Theme Palette

// Red
$red-light: #ff75a0;      
$red-dark: #fb4934;       

// Pink
$pink-light: #d3869b;     
$pink-dark: #cc241d;      

// Purple
$purple-light: #b4bbc8;   
$purple-dark: #d3869b;    

// Blue
$blue-light: #83a598;     
$blue-dark: #458588;      

// Teal
$teal-light: #82b3a8;     
$teal-dark: #749689;      

// Green
$green-light: #a9b665;    
$green-dark: #b8bb26;     

// Yellow
$yellow-light: #fabd2f;   
$yellow-dark: #d79921;    

// Orange
$orange-light: #fe8019;   
$orange-dark: #e78a4e;    

// Grey Scale (Gruvbox Warm Contrast System)
$grey-050: #fbf1c7;
$grey-100: #ebdbb2;
$grey-150: #d5c4a1;
$grey-200: #bdae93;
$grey-250: #a89984;
$grey-300: #928374;
$grey-350: #7c6f64;
$grey-400: #665c54;
$grey-450: #504945;
$grey-500: #484442;
$grey-550: #423e3c;
$grey-600: #3c3836;
$grey-650: #353535;
$grey-700: #2e2e2e;
$grey-750: #2c2c2c;   
$grey-800: #282828;   
$grey-850: #232323;
$grey-900: #1d2021;
$grey-950: #141617;

// White
$white: #ebdbb2;

// Black
$black: #282828;

// Buttons (classic Gruvbox-style controls)
$button-close: if($variant == 'light', #fb4934, #cc241d);
$button-max: if($variant == 'light', #b8bb26, #a9b665);
$button-min: if($variant == 'light', #d79921, #fabd2f);

// Link
$links: if($variant == 'light', #458588, #83a598);

// Default Accent
$default-light: #458588;
$default-dark: #83a598;
