@import "../colors/theme.css";

/* Adjust the height of bar itself in the layout to make the bar smaller/bigger
* Everythign will scale according once you chage the font-size below
* due to to how em values work */



* {
    border: none;
    font-family: "CaskaydiaCove Nerd Font", "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 18px; /* ← change this to scale everything */
    box-shadow: none;
    text-shadow: none;
}

window#waybar {
    background-color: alpha(@bg-surface, 0.6);
}

tooltip {
    background-color: @bg-overlay;
    color: @fg-main;
    border-radius: 0.39em;
}

#workspaces button {
    color: @fg-main;
    background: transparent;
    border-radius: 0.90em;
    padding: 0.1em 0.32em;
    margin: 0.1em;
    transition: all 0.3s ease;
}

#workspaces button.active {
    background: @accent-active;
    padding: 0 0.6em;
    margin: 0.25em;
    transition: all 0.4s cubic-bezier(.55, -0.68, .48, 1.682);
}

#workspaces button:hover {
    background: @accent-hover;
    padding: 0 0.6em;
    margin: 0.25em;
    color: @fg-strong;
    transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
}

/* === Module container styling === */
#custom-swaync,
#backlight,
#battery,
#bluetooth,
#custom-cava,
#custom-cliphist,
#clock,
#custom-cpuinfo,
#cpu,
#custom-display,
#custom-gpuinfo,
#custom-hyprsunset,
#idle_inhibitor,
#custom-keybindhint,
#language,
#memory,
#mpris,
#network,
#custom-notifications,
#custom-power,
#privacy,
#pulseaudio,
#custom-sensorsinfo,
#custom-spotify,
#taskbar,
#taskbar#windows,
#custom-theme,
#tray,
#custom-updates,
#custom-wallchange,
#custom-wbar,
#custom-weather,
#window,
#workspaces,
#custom-l_end,
#custom-r_end,
#custom-spc {
    color: @fg-main;
    background: @bg-surface;
    opacity: 1;
    margin: 0.17em 0;  
    padding: 0 0.22em; 
}

/* === Ends with rounded corners === */
#custom-r_end {
    border-radius: 0 1em 1em 0;
    margin-right: 0.4em;            
    padding-right: 0.2em;
}

#custom-l_end {
    border-radius: 1em 0 0 1em;
    margin-left: 0.4em;
    padding-left: 0.2em;
}

