@import "../colors/theme.css";

/* Adjust the height of bar itself in the layout to make the bar smaller/bigger
* Everythign will scale according once you chage the font-size below
* due to to how em values work */



* {
    border: none;
    font-family: "CaskaydiaCove Nerd Font", "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 18px; /* ← change this to scale everything */
    box-shadow: none;
    text-shadow: none;
}

window#waybar {
    background-color: @bg-surface;
}

/* === Tooltips/ popup thingy === */
tooltip {
    background: @bg-overlay;
    color: @fg-main;
}

/* === Workspaces === */
#workspaces button {
    color: @fg-main;
    background: transparent;
    border-radius: 0.2em;
    padding: 0 0.33em;
    margin: 0.22em 0;
    animation: ws_normal 20s ease-in-out 1;
}

#workspaces button.active {
    background: @accent-active;
    padding: 0 0.35em;
    margin: 0.21em;
    transition: all 0.4s cubic-bezier(.55, -0.68, .48, 1.682);
    animation: ws_active 20s ease-in-out 1;
}

#workspaces button:hover {
    background: @accent-hover;
    padding: 0 0.4em;
    margin: 0.21em;
    color: @fg-strong;
    transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
    animation: ws_hover 20s ease-in-out 1;
}

/* === Taskbar ===*/
#taskbar {
    background: rgba(20, 20, 20, 0.6);
    padding: 0 0.6em;
    margin: 0.3em 0em;
}

#taskbar button {
    padding: 0 0.5em;
    margin: 0 0.15em;
    background: transparent;
    transition: all 0.2s ease;
}

#taskbar button:hover {
    background: @accent-hover;
    margin: 0 0.2em;
}

#taskbar button.active {
    background: @accent-active;
    margin: 0 0.2em;
}



/* === Module container styling === */
#custom-swaync,
#backlight,
#battery,
#bluetooth,
#custom-cava,
#custom-cliphist,
#clock,
#custom-cpuinfo,
#cpu,
#custom-display,
#custom-gpuinfo,
#custom-hyprsunset,
#idle_inhibitor,
#custom-keybindhint,
#language,
#memory,
#mpris,
#network,
#custom-notifications,
#custom-power,
#privacy,
#pulseaudio,
#custom-sensorsinfo,
#custom-spotify,
#taskbar,
#taskbar#windows,
#custom-theme,
#tray,
#custom-updates,
#custom-wallchange,
#custom-wbar,
#custom-weather,
#window,
#workspaces,
#custom-l_end,
#custom-r_end,
#custom-sl_end,
#custom-sr_end,
#custom-rl_end,
#custom-rr_end {
    color: @fg-main;
    background: @bg-surface;
    opacity: 1;
    margin: 0.17em 0;  
    padding: 0 0.22em; 
}


/* === Tray menu tweaks === */
#tray menu * {
    min-height: 0.89em;
}

#tray menu separator {
    min-height: 0.56em;
}

