@import "../colors/theme.css";

* {
    border: none;
    border-radius: 0px;
    font-family: "CaskaydiaCove Nerd Font", "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 20px;
    min-height: 26px;
    box-shadow: none;
    text-shadow: none;
}

/* Base Waybar background */
window#waybar {
    background-color: alpha(@bg-surface, 0.6);
    /*border: 3px solid @border-color;
    border-radius: 20px;*/

}

/* Tooltips */
tooltip {
    background: @bg-overlay;
    color: @fg-main;
    border-radius: 7px;
}

/* Workspaces */
#workspaces button {
    color: @fg-main;
    background: transparent;
    border-radius: 15px;
    padding: 0px 6px;
    margin: 4px 0;
    animation: ws_normal 20s ease-in-out 1;
}
#workspaces button.active {
    background: @accent-active;
    padding: 0px 14px;
    margin: 4px;
    transition: all 0.4s cubic-bezier(.55, -0.68, .48, 1.682);
    animation: ws_active 20s ease-in-out 1;
}
#workspaces button:hover {
    background: @accent-hover;
    padding: 0px 14px;
    color: @fg-strong;
    transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
    animation: ws_hover 20s ease-in-out 1;
}

/* Taskbar */
#taskbar button {
    color: @fg-muted;
    background: transparent;
    border-radius: 8px;
    padding: 0px 2px;
    margin: 2px 0;
    animation: tb_normal 20s ease-in-out 1;
}
#taskbar button.active {
    background: @accent-active;
    color: @fg-main;
    padding: 0px 11px;
    margin: 2px;
    transition: all 0.4s cubic-bezier(.55, -0.68, .48, 1.682);
    animation: tb_active 20s ease-in-out 1;
}
#taskbar button:hover {
    background: @accent-hover;
    color: @fg-strong;
    transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
    animation: tb_hover 20s ease-in-out 1;
}

/* Module container styling */
#custom-swaync,
#backlight,
#battery,
#bluetooth,
#custom-cava,
#custom-cliphist,
#clock,
#custom-cpuinfo,
#cpu,
#custom-display,
#custom-gpuinfo,
#custom-hyprsunset,
#idle_inhibitor,
#custom-keybindhint,
#language,
#memory,
#mpris,
#network,
#custom-notifications,
#custom-power,
#privacy,
#pulseaudio,
#custom-sensorsinfo,
#custom-spotify,
#taskbar,
#taskbar#windows,
#custom-theme,
#tray,
#custom-updates,
#custom-wallchange,
#custom-wbar,
#custom-weather,
#window,
#workspaces,
#custom-l_end,
#custom-r_end,
#custom-sl_end,
#custom-sr_end,
#custom-rl_end,
#custom-rr_end {
    color: @fg-main;
    background: @bg-surface;
    opacity: 1;
    margin: 3px 0;
    padding: 0 4px;
}

/* Ends with rounded corners */
#custom-r_end {
    border-radius: 0px 19px 19px 0px;
    margin-right: 8px;
    padding-right: 0px;
}
#custom-l_end {
    border-radius: 19px 0px 0px 19px;
    margin-left: 8px;
    padding-left: 0px;
}
#custom-sr_end {
    border-radius: 0px;
    margin-right: 8px;
    padding-right: 0px;
}
#custom-sl_end {
    border-radius: 0px;
    margin-left: 8px;
    padding-left: 0px;
}
#custom-rr_end {
    border-radius: 0px 7px 7px 0px;
    margin-right: 8px;
    padding-right: 0px;
}
#custom-rl_end {
    border-radius: 7px 0px 0px 7px;
    margin-left: 8px;
    padding-left: 0px;
}

/* Tray menu tweaks */
#tray menu * {
    min-height: 16px;
}
#tray menu separator {
    min-height: 10px;
}

