@define-color bg-base         #12140d;
@define-color bg-surface      #1f2019;
@define-color bg-overlay      #292b23;
@define-color fg-main         #e3e3d7;
@define-color fg-muted        #c6c8b8;
@define-color fg-strong       #b9cf83;
@define-color accent-primary  #b9cf83;
@define-color accent-hover    #c3caaa;
@define-color accent-active   #a1d0c7;
@define-color border-color    #909284;
@define-color shadow-color    rgba(0, 0, 0, 1);
@define-color danger-color    #ffb4ab;
@define-color warning-color   #a1d0c7;
@define-color info-color      #c3caaa;
@define-color success-color   #b9cf83;

