@define-color bg-base         #15130c;
@define-color bg-surface      #222017;
@define-color bg-overlay      #2c2a21;
@define-color fg-main         #e8e2d4;
@define-color fg-muted        #ccc6b5;
@define-color fg-strong       #d7c870;
@define-color accent-primary  #d7c870;
@define-color accent-hover    #cfc7a2;
@define-color accent-active   #a8d0b6;
@define-color border-color    #959181;
@define-color shadow-color    rgba(0, 0, 0, 1);
@define-color danger-color    #ffb4ab;
@define-color warning-color   #a8d0b6;
@define-color info-color      #cfc7a2;
@define-color success-color   #d7c870;

