@define-color bg-base         #0e1416;
@define-color bg-surface      #1b2122;
@define-color bg-overlay      #252b2c;
@define-color fg-main         #dee3e5;
@define-color fg-muted        #bfc8ca;
@define-color fg-strong       #83d2e3;
@define-color accent-primary  #83d2e3;
@define-color accent-hover    #b1cbd1;
@define-color accent-active   #bcc5eb;
@define-color border-color    #899295;
@define-color shadow-color    rgba(0, 0, 0, 1);
@define-color danger-color    #ffb4ab;
@define-color warning-color   #bcc5eb;
@define-color info-color      #b1cbd1;
@define-color success-color   #83d2e3;

