@define-color bg-base         #1a1112;
@define-color bg-surface      #261d1e;
@define-color bg-overlay      #312829;
@define-color fg-main         #f0dedf;
@define-color fg-muted        #d7c1c3;
@define-color fg-strong       #ffb2bd;
@define-color accent-primary  #ffb2bd;
@define-color accent-hover    #e5bdc1;
@define-color accent-active   #eabf8f;
@define-color border-color    #9f8c8e;
@define-color shadow-color    rgba(0, 0, 0, 1);
@define-color danger-color    #ffb4ab;
@define-color warning-color   #eabf8f;
@define-color info-color      #e5bdc1;
@define-color success-color   #ffb2bd;

