@define-color bg-base         #14140c;
@define-color bg-surface      #202018;
@define-color bg-overlay      #2a2a22;
@define-color fg-main         #e5e3d6;
@define-color fg-muted        #c9c7b6;
@define-color fg-strong       #c7cc79;
@define-color accent-primary  #c7cc79;
@define-color accent-hover    #c8c9a6;
@define-color accent-active   #a3d0bf;
@define-color border-color    #929182;
@define-color shadow-color    rgba(0, 0, 0, 1);
@define-color danger-color    #ffb4ab;
@define-color warning-color   #a3d0bf;
@define-color info-color      #c8c9a6;
@define-color success-color   #c7cc79;

