@define-color bg-base         #16130b;
@define-color bg-surface      #221f17;
@define-color bg-overlay      #2d2a21;
@define-color fg-main         #e9e2d4;
@define-color fg-muted        #cec6b4;
@define-color fg-strong       #e0c56d;
@define-color accent-primary  #e0c56d;
@define-color accent-hover    #d3c6a1;
@define-color accent-active   #abcfb0;
@define-color border-color    #979080;
@define-color shadow-color    rgba(0, 0, 0, 1);
@define-color danger-color    #ffb4ab;
@define-color warning-color   #abcfb0;
@define-color info-color      #d3c6a1;
@define-color success-color   #e0c56d;

