@define-color bg-base         #1e1e2e;
@define-color bg-surface      #181825;
@define-color bg-overlay      #313244;

@define-color fg-main         #cdd6f4;
@define-color fg-muted        #313244;
@define-color fg-strong       #f2d5cf;

@define-color accent-primary  #5aa7c2;
@define-color accent-hover    #cba6f7;
@define-color accent-active   #7aa2f7;

@define-color border-color    #8caaee;
@define-color shadow-color    rgba(0, 0, 0, 0.5);

@define-color danger-color    #d26478;
@define-color warning-color   #d9ba82;
@define-color info-color      #6cbac4;
@define-color success-color   #7ea37e;




/* 
* Pallete for reference
* Catppuccin Mocha Colors 
rosewater #f5e0dc;
flamingo #f2cdcd;
pink #f5c2e7;
mauve #cba6f7;
red #f38ba8;
maroon #eba0ac;
peach #fab387;
yellow #f9e2af;
green #a6e3a1;
teal #94e2d5;
sky #89dceb;
sapphire #74c7ec;
blue #89b4fa;
lavender #b4befe;
text #cdd6f4;
subtext1 #bac2de;
subtext0 #a6adc8;
overlay2 #9399b2;
overlay1 #7f849c;
overlay0 #6c7086;
surface2 #585b70;
surface1 #45475a;
surface0 #313244;
base #1e1e2e;
mantle #181825;
crust #11111b;
*/

