@define-color bg-base         #66757F;
@define-color bg-surface      #82949e;
@define-color bg-overlay      #B2BEB5;

@define-color fg-main         #4a5353;
@define-color fg-muted        #687677;
@define-color fg-strong       #a1acae;

@define-color accent-primary  #687677;
@define-color accent-hover    #36454f;
@define-color accent-active   #748897;

@define-color border-color    #4a5353;
@define-color shadow-color    rgba(161,172,174,0.4);

@define-color danger-color    #8F5652;
@define-color warning-color   #886A44;
@define-color info-color      #556995;
@define-color success-color   #747B4D;



