/***************
 * Mate-Panel *
 ***************/

$panel: #3db0f6;
$panel_fg: #000;
$panel_bg: #7699c8;
$panel_border: #567eb1 ;
$panel_hc: #94afd2;
$panel_bg_button: mix(rgba(0,0,0,0.3), $panel, 80%);
$panel_menubar_hover: #000000;


PanelToplevel > *:not(menu):not(menuitem):not(button):not(menubar) {
	border-style: solid;
	border-top-color: $panel_border;
    border-top-width: 1px;
    box-shadow: inset 0 12px #a9cdf3,inset 0 10px #aecff1,inset 0 8px #bdd5f4,inset 0 5px #c0daf8,
                inset 0 0px $panel_hc,
                inset 1px 0 transparentize($panel_fg, 1.0),
                inset -1px 0px transparentize($panel_fg, 1.0);
}

/* first make all transparent */
.mate-panel-menu-bar,
.mate-panel-menu-bar menubar,
.mate-panel-menu-bar menuitem,
#PanelPlug,
#PanelApplet button,
PanelToplevel.background,
#PanelApplet-window-menu-applet-button {
    background-color: transparent;
    background-image: none;
    background-color: transparent;
}

.mate-panel-menu-bar menubar:not(menu) > menuitem {
	color: $panel_fg;
}

.mate-panel-menu-bar menubar:not(menu) > menuitem:hover {
	color: $panel_menubar_hover;
}


/* let's start it */
#PanelPlug,
.mate-panel-menu-bar,
PanelToplevel.background {
    background-color: $panel_bg;
    background-image: none;
    /* normal panel */
    /* transparent panel */
/*    color: @theme_selected_fg_color; */
    text-shadow: none;
    box-shadow: inset 0 12px #a9cdf3,inset 0 10px #aecff1,inset 0 8px #bdd5f4,inset 0 5px #c0daf8,
                inset 0 0px $panel_hc,
                inset 1px 0 transparentize($panel_fg, 1.0),
                inset -1px 0px transparentize($panel_fg, 1.0);
}

#PanelApplet {
    border-width: 1px;
  border-style: solid;
}

PanelSeparator {
    border-width: 0;
    background-image: none;
    text-shadow: none;
}

/* all applets */
.mate-panel-menu-bar #PanelApplet button {
    &,
    &.flat,
    &.toggle,
    &.flat.toggle {
    background-image: linear-gradient(to bottom, 
                    #c2d9f1, 
                    #c0d4ed 49%,
                    #aac5e7 50%, 
                    #d8eafe);
    
    border-radius: 2px;
    border-width: 1px;
    box-shadow: inset 0 1px $panel_hc, inset 0 -1px $panel_hc, inset 1px 0 $panel_hc, inset -1px 0 $panel_hc;
    border-color: $panel_border;
    text-shadow: none;
    color:$panel_fg;
    }

    &:checked,
    &:checked:hover,
    &:hover:active,
    &.flat:checked,
    &.flat:hover:active,
    &.toggle:checked,
    &.toggle:checked:hover,
    &.toggle:hover:active,
    &.flat.toggle:checked,
    &.flat.toggle:checked:hover,
    &.flat.toggle:hover:active {

    background-image: linear-gradient(to bottom, 
                    #fde6c9, 
                    #ffcc9d 49%,
                    #f9b54b 50%, 
                    #fee79c);
    
    border-radius: 0;
    border-width: 1px;
    box-shadow: inset 0 1px $panel_hc, inset 0 -1px $panel_hc, inset 1px 0 $panel_hc, inset -1px 0 $panel_hc;
    border-color: $panel_border;
    text-shadow: none;
    color:$panel_fg;
    }


    &:hover,
    &.flat:hover,
    &.toggle:hover,
    &.flat.toggle:hover {
    background-image: linear-gradient(to bottom, 
                    lighten(#ffcc9d, 0%) , 
                    lighten(#ffcc9d, 10%) 50%, 
                    lighten(#ffcc9d, 0%));
    border-radius: 0;
    border-width: 1px;
    box-shadow: inset 0 1px $panel_hc, inset 0 -1px $panel_hc, inset 1px 0 $panel_hc, inset -1px 0 $panel_hc;
    border-color: $panel_border;
    text-shadow: none;
    color:$panel_fg;

    } 
}


/* Classic icon style */
.mate-panel-menu-bar {
    -PanelMenuBar-icon-visible: true;
}

na-tray-applet {
    background-image: none;
    background-color: transparent;
    padding: 0;
    text-shadow: none;
    -NaTrayApplet-icon-padding: 3;
    -NaTrayApplet-icon-size: 16;
}

/* clock-applet */
.mate-panel-menu-bar #PanelApplet #clock-applet-button.flat.toggle {
 &,&:hover {
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    box-shadow: none;
}

&:checked,
&:checked:hover {
    background-image: linear-gradient(to bottom, 
                    darken($panel_bg_button, 20%) , 
                    darken($panel_bg_button, 30%) 50%, 
                    darken($panel_bg_button, 60%));
    
    border-radius: 0;
    border-width: 1px;
    box-shadow: inset 0 1px $panel_hc, inset 0 -1px $panel_hc, inset 1px 0 $panel_hc, inset -1px 0 $panel_hc;
    border-color: $panel_border;
    text-shadow: none;
    color:$panel_fg;
}
}

/* volume applet, brightness applet */
.mate-panel-applet-slider {
    background: transparent;
& .frame {
    /*background-color: @theme_bg_color;*/
    border-image: none;
    border-style: solid;
    border-radius:2px;
    padding: 0px;
    margin: 0px;
    }

& .frame .frame{
    background-color:transparent;
    border-style: none;
    }

& .frame .button {
    color: $panel_fg;
   }

}

/*XFCE Panel*/
/*
#whiskermenu-button,
#applicationmenu-button,
#whiskermenu-button box,
#applicationmenu-button box { 
	background-color:#3a953a;
	background-image:none;
	box-shadow:  inset 0 4px #3a953a, inset 0 3px #55a454, inset 0 1px #74b576;
	padding-left: 2px;
}

 #whiskermenu-button:active box,
    #whiskermenu-button:checked box,
    #applicationmenu-button:active box,
    #applicationmenu-button:checked box {
    	box-shadow:  inset 0 4px #0e830e, inset 0 2px #285826, inset 0 1px #0b301f;  
		background-color:#0e830e;  
	    background-image:none;
    	}
*/
  .xfce4-panel.background {
    background-color:#a1b9d5;
   // box-shadow:  inset 0 4px #286add, inset 0 3px #307be5, inset 0 1px #3888e9, inset 0 -3px #235bd9, inset 0 -2px #1e50c4, inset 0 -1px #1941a5;
    box-shadow: inset 0 1px #cad9ea, 0 1px #434d58;
    color: #000; }


    #sn-button,
    #indicator-button {
    box-shadow: inset 0 1px #cad9ea, 0 1px #434d58;
    }


   .xfce4-panel label {
    color: #000; }

    .xfce4-panel .tasklist .toggle {
     background-image: linear-gradient(to bottom, 
                    #c2d9f1, 
                    #c0d4ed 49%,
                    #aac5e7 50%, 
                    #d8eafe);
    
    border-radius: 2px;
    border-width: 1px;
    box-shadow: inset 0 1px $panel_hc, inset 0 -1px $panel_hc, inset 1px 0 $panel_hc, inset -1px 0 $panel_hc;
    border-color: $panel_border;
    text-shadow: none;
    color:$panel_fg; }


    .xfce4-panel .tasklist .toggle:hover,
 {
    background-image: linear-gradient(to bottom, 
                     #FFFDDC, 
                     #FFFBD5 5.26%,
                     #FFF8CA 10.53%,
                     #ffea9d 50%,
                     #ffd751 51%,
                     #FFE07E 84.21%,
                     #FFE799); 
    border-radius: 3px;
    border-width: 1px;
    box-shadow: none;
    //box-shadow: inset 0 1px $panel_hc, inset 0 -1px $panel_hc, inset 1px 0 $panel_hc, inset -1px 0 $panel_hc;
    border-color: #525c67;
    text-shadow: none;
    color:$panel_fg;

    } 

    .xfce4-panel .tasklist .toggle:checked,
    .xfce4-panel .tasklist .toggle:checked:hover,
    .xfce4-panel .tasklist .toggle:hover:active,
    .xfce4-panel .tasklist .toggle:checked {

    background-image: linear-gradient(to bottom, 
                     #C69B61, 
                     #F8BB6B 5.26%,
                     #FEBA6C 10.53%,
                     #FEB56B 15.79%,
                     #fdac62 50%,
                     #fc923d 51%,
                     #FEB054 78.95%,
                     #FEC36D); 
    
    border-radius: 3px;
    border-width: 1px;
    box-shadow: none;
    //box-shadow: inset 0 1px $panel_hc, inset 0 -1px $panel_hc, inset 1px 0 $panel_hc, inset -1px 0 $panel_hc;
    border-color: #525c67;
    text-shadow: none;
    color:$panel_fg;
    }

