@import "../colors/theme.css";

/* Adjust the height of bar itself in the layout to make the bar smaller/bigger
* Everythign will scale according once you chage the font-size below
* due to to how em values work */



* {
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 17px; /* ← change this to scale everything and reload the bar*/
    padding: 0.1em 0.2em;
}

/* === Waybar window === */
window#waybar {
    background-color: @bg-surface;
    color: @fg-main;
    border: 0.11em solid @border-color; 
    border-radius: 0.2em;
    box-shadow:
        inset -0.11em 0.11em 0 0 @shadow-color,
        inset  0.11em -0.11em 0 0 @shadow-color;
}

/* === Modules === */
#custom-firefox,
#custom-power,
#battery,
#cpu,
#memory,
#tray,
#pulseaudio,
#workspaces,
#mpd,
#power-profiles-daemon,
#clock {
    background-color: @bg-overlay;
    margin: 0.2em 0;
    padding: 0.7em 0.33em;
    border: 0.06em solid @border-color;
    box-shadow:
        inset  0.11em -0.11em 0 0 @bg-base,
        inset -0.11em  0.11em 0 0 @bg-surface;
}

/* === Clock / MPD === */
#mpd,
#clock {
    background: @accent-primary;
    font-weight: bold;
    font-size: 1.22em;      
    padding: 0.33em 0.56em; 
}


/* === Workspaces === */
#workspaces button {
    color: @fg-main;
    font-weight: bold;
    background: transparent;
    padding: 0.2em 0;
    margin: 0.2em 0.2em;
    animation: ws_normal 20s ease-in-out 1;
    border-radius: 0.2em;
}

#workspaces button.active {
    background: @accent-active;
    transition: all 0.4s cubic-bezier(.55, -0.68, .48, 1.682);
    animation: ws_active 20s ease-in-out 1;
}

#workspaces button:hover {
    background: @accent-hover;
    color: @fg-strong;
    transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
    animation: ws_hover 20s ease-in-out 1;
}

/* === Pulseaudio stacking === */
#pulseaudio.microphone {
    border-bottom: none;
    margin-top: 0.11em;
    margin-bottom: -0.11em;
    border: 0.06em solid @border-color;
    box-shadow:
        inset  0.11em -0.11em 0 0 @bg-base,
        inset -0.11em  0.11em 0 0 @bg-surface;
}

#pulseaudio {
    margin-top: -0.22em;
    border-top: none;
    box-shadow:
        inset  0.11em -0.11em 0 0 @bg-base,
        inset -0.11em  0 0 0 @bg-surface;
}

/* === Hover effects === */
#pulseaudio:hover,
#pulseaudio.microphone:hover,
#custom-firefox:hover,
#custom-power:hover,
#tray:hover,
#window:hover,
#power-profiles-daemon:hover {
    background-color: @accent-hover;
    box-shadow:
        inset  0.11em -0.11em 0 0 @accent-primary,
        inset -0.11em  0.11em 0 0 @accent-active;
}

